
<%include base/head.ejs%>
    <style type="text/css">
    body{
        background-color: #ededed;
    }
    </style>



    <div class="demo form-bg" style="padding: 20px 0;">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-3 col-md-6">
                        <form class="form-horizontal">
                            <span class="heading">用户登录</span>
                            <div class="form-group">
                                <input type="email" class="form-control" id="inputEmail3" placeholder="用户名或电子邮件">
                                <i class="glyphicon glyphicon-user"></i>
                            </div>
                            <div class="form-group help">
                                <input type="password" class="form-control" id="inputPassword3" placeholder="密　码">
                                <i class="glyphicon glyphicon-lock"></i>
                                <a href="#" class="fa fa-question-circle"></a>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-default">登录</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>



<%include base/footer.ejs%>
<script type="text/javascript">
//登陆页面form高度计算
    $('.form-bg').height($(window).height()-140);
</script>
<%include base/end.ejs%>