<!DOCTYPE html>
<html>
<head>
    <title>posts</title>
</head>
<body>
<form action="/posts" method="post">
    <input type="text" name="nickname">
    <input type="text" name="password">
    <input type="submit" name="submit">
    <p><%=title %></p>
</form>
</body>
</html>