
<%include base/head.ejs%>
    <style type="text/css">
    body{
        background-color: #ededed;
    }
    </style>



    <div class="demo form-bg" style="padding: 20px 0;">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-3 col-md-6">
                        <form class="form-horizontal" method="post">
                            <span class="heading">用户注册</span>
                            <div class="form-group">
                                <input type="text" class="form-control" id="nickname" placeholder="用户名" name="nickname">
                                <i class="glyphicon glyphicon-user"></i>
                            </div>
                            <div class="form-group help">
                                <input type="password" class="form-control" id="password1" placeholder="密码" name="password1">
                                <i class="glyphicon glyphicon-lock"></i>
                                <a href="#" class="fa fa-question-circle"></a>
                            </div>
                            <div class="form-group help">
                                <input type="password" class="form-control" id="password2" placeholder="确认密码" >
                                <i class="glyphicon glyphicon-lock"></i>
                                <a href="#" class="fa fa-question-circle"></a>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-default" id="submit">注册</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

<%include base/footer.ejs%>
<script type="text/javascript">
//注册页面form高度计算
    $('.form-bg').height($(window).height()-140);
    function validateForm(){
        var nickname=$('#nickname').val();
        var psw1=$('#password1').val();
        var psw2=$('#password2').val();
        if(!(nickname||psw1||psw2)){
            swal("选项不能为空!");
            return 0;
        }
        else if(!(psw1==psw2)){
            swal("OMG!", "两次输入密码不一致", "error");
            return 0;
        }
        return 1;
    };


    $('#submit').click(function(){
    var url="http://localhost/chac_blog_api/public/index.php/chac/user/reg/?&";
    var nickname=$('#nickname').val();
    var password=$('#password1').val();
    var re=validateForm();
    if(re){
    $.get({
        url: url+"nickname="+nickname+"&password="+password,
        success: function(data) {
            if(data.data==1){
                swal("Good!", "用户注册成功", "success");
            }else if(data.data==2){
                swal("OMG!", "用户名已存在", "error");
            }
        },
        error: function() {
            alert("Error");
        }
    })
    }
    });




</script>
<%include base/end.ejs%>