
<%include base/head.ejs%>
    <style type="text/css">
    body{
        background-color: #ededed;
    }
    </style>



    <div class="demo form-bg" style="padding: 20px 0;">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-3 col-md-6">
                        <form class="form-horizontal" method="post">
                            <span class="heading">用户注册</span>
                            <div class="form-group">
                                <input type="text" class="form-control" id="nickname" placeholder="用户名" name="nickname">
                                <i class="glyphicon glyphicon-user"></i>
                            </div>
                            <div class="form-group help">
                                <input type="password" class="form-control" id="password1" placeholder="密码" name="password1">
                                <i class="glyphicon glyphicon-lock"></i>
                                <a href="#" class="fa fa-question-circle"></a>
                            </div>
                            <div class="form-group help">
                                <input type="password" class="form-control" id="password2" placeholder="确认密码" >
                                <i class="glyphicon glyphicon-lock"></i>
                                <a href="#" class="fa fa-question-circle"></a>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-default" id="submit">注册</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

<%include base/footer.ejs%>
<script type="text/javascript">
//注册页面form高度计算
    $('.form-bg').height($(window).height()-140);

    //注册验证
    function validateForm(){
        var myreg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
        var myregName = /^[0-9a-zA-Z\u4E00-\u9FA5\_]*$/;
        var nickname=$('#nickname').val();
        var psw1=$('#password1').val();
        var psw2=$('#password2').val();
        if(!(nickname&&psw1&&psw2)){
            swal("选项不能为空!");
            return false;
        }
        else if(nickname.length == 0 || nickname.length > 18){
            swal('格式错误', '请输入1-18位字符作为昵称！', 'warning');
            return false;
        }
        else if(!myregName.test(nickname)){
            swal('格式错误', '只允许中文、数字、字母和下划线！', 'warning');
            return false;
        }
        else if(!(psw1==psw2)){
            swal("格式错误!", "两次输入密码不一致", "warning");
            return false;
        }
        else if(psw1.length < 6 || psw1.length > 20){
            swal('格式错误', '请填写6-20位密码', 'warning');
            return false;
        }
        return true;
    };

    $('#submit').click(function(){
    var url="http://localhost/chac_blog_api/public/index.php/chac/user/reg/?&";
    var nickname=$('#nickname').val();
    var password=$('#password1').val();
    var re=validateForm();
    if(re){
    $.get({
        url: url+"nickname="+nickname+"&password="+password,
        success: function(data) {
            if(data.data==1){
                swal("Good!", "用户注册成功", "success");
            }else if(data.data==2){
                swal("OMG!", "用户名已存在", "error");
            }
        },
        error: function() {
            alert("Error");
        }
    })
    }
    });




</script>
<%include base/end.ejs%>