.hello {
  font-size: 15px;
}
.nihao {
  font-size: 20px;
}
.nihao1 {
  font-size: 20px;
}
.nihao2 {
  font-size: 20px;
}
.nihao4 {
  font-size: 20px;
}
.nihao11 {
  font-size: 20px;
}
.nihao3 {
  font-size: 20px;
}
.hello12 {
  font-size: 15px;
}
.hello13 {
  font-size: 15px;
}
.hello33 {
  font-size: 15px;
}
.hello66 {
  font-size: 15px;
}
.ahel66 {
  font-size: 15px;
}
.aaa {
  font-size: 15px;
}
.c {
  font-size: 52px;
}
